body{
	background-color: #FFF5EE;
}

h1{
	font-family: Dawning of a new day, sans-serif;
	font-size: 150px;
	color:#000000;
	background-color:#FFF5EE;
	text-align:center;
	margin-top:50px;
	margin-bottom:20px;
}

@media (max-width: 768px) {
	h1 { 
		font-size:75px;
	   }
}


#header {
	position:relative;
	margin-top: 0px;
	margin-bottom:0px;
	background-color:#FFF5EE;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/*width: 100%;
	height: 100%;*/

}
#header a {
 	position:relative;
 	/*display:inline;*/
 	margin-bottom: 0px;
 	background-color:#FFF5EE;
 }

.jumbotron {
  padding: 30px 15px;
  margin-bottom: -40px;
  margin-top:-40px;
  color:#FFFFFF;
  background-color:#696969;
  
}

.jumbotron h2 {
  font-family: Loved by the king, sans-serif;
  font-size :40px;

}

.jumbotron p {
	font-family:Taviraj, sans-serif;
	font-size : 17px;
}

.btnheader {
	border-style: none;
	color:#000000;
	font-family:Loved by the king, sans-serif;
	background-color:#A7E3C1;
}

.btnheader a:hover {
	text-decoration:none;
	color:#000000;
}

/*#navbar {
    left:100%;
	width: 100%;
	margin-left:-45px;
	margin-bottom:0px;
	margin-top:15px;
	
}*/
    #navbar a:link {
	    text-decoration:none;
	    color:#000000;
	 }
	 #navbar a:visited{
	    text-decoration:none;
	    color:#000000;
	 }
	 #navbar a:hover{
	    opacity: 0.5;
	    font-family:Pacifico, sans-serif;
	    color:#A7E3C1;
	    text-decoration:none;
	 }
           #navbar ul{
	        list-style-type:none;
	        margin:0px;
            }

                 #navbar ul li {
	            
	             font-family: Loved by the king,sans-serif;
	             font-size:27px;
	             color:#FFF5EE;
	             background-color:#FFF5EE;
	             /*display:inline;*/
	             padding:5px;
	             margin :0 20px;
	             margin-left:-10px;
	             margin-bottom:5px;
	             
}

.signin{
	    float:right;
	    margin-right:0px;
	    margin-top:15px;
	    padding:5px;
	    font-family: Loved by the king, sans-serif;
	    font-size:20px;
	    border-radius:10px;
	    background-color:#F5C8BF;
}

.navbar-header{
	background-color:#FFF5EE;
	float:left;
}

.container-fluid{
	background-color:#FFF5EE;
	border-bottom:1px solid #000000;
}

.navbar-toggle{
	background-color:black;
    
}

#dropdownMenu1{
	background-color:#FFF5EE;
	margin-top:-5px; 
	border:#FFF5EE;
	padding:-10px;
	margin-left:-10px;
}

.dropdown-menu ul li{
	background-color:#FFF5EE;
	width:100px;
	height:50px;
}

.modal-title{
	text-align:center;
	font-size:40px;
	font-family:Loved by the king, sans-serif;
	color:#FFFFFF;
}

.modal-body{
	text-align:center;
	font-size:17px;
	font-family:taviraj, sans-serif;
	line-height:20px;
	background-color:#FFF5EE;
	border-bottom:2px solid #FFF5EE;
	margin-top: 10px;
}

.modal-header {
   background-color:#F5C8BF;
   border-bottom:2px solid #FFF5EE;
   border-radius:5px;
   margin-bottom:-10px;
   text-align:center;

}

.modal-footer {
	background-color:#FFF5EE;

}

#conseils h2 {
	             font-family: Loved by the king, sans-serif;
	             font-size: 60px;
	             color:#F5C8BF;
	             background-color:#FFF5EE;
	             text-align:center;
	             margin-bottom:30px;
	             margin-top:60px;

}

@media (max-width: 768px) {
	#conseils h2 {
		font-size:45px;

	   }
    }
 
 .subtitle {
  margin: 0 0 2em 0;
}
.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  top: 0;
  width: 600px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.img_1 {
	             /*width:40%;
	             height:40%;
	             border: 1px solid #A7E3C1;
	             margin-bottom: 170px;*/

}

.img_2 {
	             /*width:40%;
	             height:40%;*/
	             display:block;
	             /*margin-left:10px;
	             margin-top: 0px;*/


}

#ficheproduit p {
	            font-family:Taviraj, sans-serif;
	           /* margin-right: -200px;
	            margin-left: -200px;
	            margin-bottom: 200px;*/
	            line-height:20px;
	            text-align: justify;
	            vertical-align:top;
}

#ficheproduit ul li {
	            font-family: Taviraj, sans-serif;
	            /*margin-right: -150px;
	            margin-left: -150px;*/
	            line-height: 20px;
	            text-align: justify;
}

/*#linernote, #ficheproduit{ 
           display: inline-block;
           width: 40%;
           height:38%;


}*/
blockquote {
           display: inline-block;
           margin-right: 0px;
           margin-left:50px;
           text-align:center;
}

#inspirations h2 {
	             font-family: Loved by the king, sans-serif;
	             font-size:60px;
	             color:#F5C8BF;
	             background-color:#FFF5EE;
	             text-align:center;
	             margin-bottom:10px;
	             margin-top:30px;
}

@media (max-width: 768px) {
	#inspirations h2 {font-size:45px;

	   }
    }

#inspirations img {
                /*border-radius:50%;*/  
                display:block;
                /*width: 100%;*/                          
}

.hidden-box2 {
	margin-left:-10px;
	border-radius:50%;
	position:absolute;
	width:230px;
	height:230px;	
}

.hidden-box2:hover {
	background-color:black;
	opacity:0.8;
	transition: 0.2s;
	
}

.hidden-box2 p{
	color:transparent;
	margin-left:50px;
	margin-top:110px;	
}

.hidden-box2 p:hover{
 color:#A7E3C1;
 font-size:25px;
 font-family:Loved by the king, sans-serif;

}

.liner1 {
	     margin-left: -10px;
	     /*margin-bottom: 0px;*/
	     width:230px;
	     border-radius:50%;
}

.hidden-box3 {
	margin-left:160px;
	border-radius:50%;
	position:absolute;
	width:210px;
	height:210px;	
}

.hidden-box3:hover {
	background-color:black;
	opacity:0.8;
	transition: 0.2s;
}

.hidden-box3 p{
	color:transparent;
	margin-left:50px;
	margin-top:90px;	
}

.hidden-box3 p:hover{
 color:#A7E3C1;
 font-size:25px;
 font-family:Loved by the king, sans-serif;

}

.liner2{
	     margin-left:160px;
	     /*margin-bottom:0px;*/
	     width:210px;
	     border-radius:50%;
}


.hidden-box4 {
	margin-left:0px;
	border-radius:50%;
	position:absolute;
	width:170px;
	height:180px;	
}

.hidden-box4:hover {
	background-color:black;
	opacity:0.8;
	transition: 0.2s;
}

.hidden-box4 p{
	color:transparent;
	margin-left:40px;
	margin-top:80px;	
}

.hidden-box4 p:hover{
 color:#A7E3C1;
 font-size:20px;
 font-family:Loved by the king, sans-serif;

}

.hidden-box4 span {
	font-family: Loved by the king; 
}

.liner3{
	     margin-left:0px;
	     /*margin-bottom:0px;*/
	     width:170px;
	     border-radius:50%;
}

@media (max-width:768px) {
	.liner3 {
		display:none;
	   }
    }

#inspirations p{

	           font-family: Taviraj;
	           display:inline-block;
	           line-height: 25px;
	           text-align: justify;
	           /*width:70%;*/	          
}

/*#imgtuto, #textetuto {
	          display:inline-block;
	          width: 48%;

}*/    

#Whatshot h2{
	             font-family: Loved by the king, sans-serif;
	             font-size:60px;
	             color:#F5C8BF;
	             background-color: #FFF5EE;
	             text-align:center;
	             margin-top:70px;
	             margin-bottom:30px;
}

@media (max-width: 768px) {
	#Whatshot h2 {font-size:45px;

	   }
    }

.img_whatshot {
	             width:380px;
	             height:380px;
	             display:inline-block;
	             margin-top:30px;
	             max-height: 500px;
	             position:relative;
	             z-index:2;
}

.img_whatshot:hover{
	opacity:0.5;
}

#Videvanity h2 {
	             font-family: Loved by the king, sans-serif;
	             font-size:60px;
	             color:#F5C8BF;
	             background-color:#FFF5EE;
	             text-align:center;
	             margin-top:40px;
	             margin-bottom:30px;
}

@media (max-width: 768px) {
	#Videvanity h2 {font-size:45px;

	   }
    }

#Videvanity h3 {
	             font-family:Taviraj, sans-serif;
	             font-size:20px;
	             color:#000000;
	             border : 1px solid #000000;
	             text-align:center;
	             margin-top:20px;
	             margin-bottom:20px;
}



.textevanity p {
	             font-family:Taviraj, sans-serif;
	             color:#000000;
	             height:40%;
	             width: 100%;
	             text-align:justify;
	             line-height:25px;
	             
}

.carousel-caption {
       text-align:center;
       font-family:Loved by the king, sans-serif;
       font-size:17px;
       color:#A7E3C1;
       margin-bottom:-40px;


}

h4 {
	text-align:center;
	font-size:30px;
	color:#A7E3C1;
	margin-bottom:0px;
}

/*.img_vanity1 {
	             width:30%;
	             height:30%;
	             display:inline-block;
	             
	             

}

.img_vanity2 {
	             width:30%;
	             height:30%;
	             display:inline-block;
	             
	             

}
.img_vanity3 {
	             width:28.5%;
	             height:28.5%;
	             display:inline-block;
	             
	             

}*/

/*.arrow {
	             width:40px;
	             height:40px;
	             margin-top:40px;
	             display:inline-block;
	             
	         }*/


#imagevanity{ 
	            /*margin-right:0px;*/
	            margin-top:10px;
	            /*margin-left:400px;*/
}

.textevanity, #imgagevanity {
	          display:inline-block;
	          /*margin-bottom: -700px;
	          float:left;*/	          
}

/*.prixvanity {
	       
	       line-height: -2px;
	       color:#000000;
}*/

.btnvanity {
	text-decoration:none;
	font-family:Loved by the king, sans-serif;
	font-size:30px;
	background-color:#F5C8BF;
	width:200px;
	height:50px;
	border-radius:5px;
	color:#000000;
	text-align:center;
	/*margin-right:165px;
	margin-left:10px;*/
	margin-bottom:50px;
	margin-top:20px;
	padding-bottom:10px;
	padding-top:-50px;
	text-align:center;

}

.btnvanity:hover{
	    opacity: 1;
	    font-family:Loved by the king, sans-serif;
	    color:#000000;
	    text-decoration:none;
	    background-color:#A7E3C1;
	    transition: 0.5s;

}

.hidden-box {
    display: none;
    background-color:#FFF5EE;
    width:130px;
    height:70px;
    color: #FFF5EE;
    font-size:30px;
    font-family: Loved by the king, sans-serif;
    margin-left: 130px;
    padding: 10px;
    text-align:center;
    transition: background 3s;
}

.hidden-box:hover {
    background-color:#FFF5EE;
    cursor: pointer;
    border-radius:5px;
    color:#000000;
    transition:2s;
}

.textevanity:hover, .hidden-box {
    display: block;
}

#footerbar {
	     position:relative;
	     margin-top:70px;
	     margin-bottom:-50px;
	     background-color:#F5C8BF;
	     border-top-left-radius:10px;
	     border-top-right-radius:10px;
	     width: 100%;
	     height: 80px;
	     /*float:bottom;*/
	     padding:20px;
}

#footerbar ul li{
	     font-family: Loved by the king, sans-serif;
	     font-size:25px;
	     list-style-type:none;
	     margin-left:-30px;
	     padding:0px;
	     /*display:inline;
	     margin :0 50px;
	     margin-top:-100px;*/

}

#footerbar a:link {
	    text-decoration:none;
	    color:#000000;
	 }

#footerbar a:visited {
	    text-decoration:none;
	    color:#000000;

}
#footerbar a:hover{
	    opacity: 0.5;
	    font-family:Pacifico, sans-serif;
	    color:#000000;

}

/*#socialnetworks ul li {
	    /*display:inline-block;
	    width:50px;
	    height:50px;
	    padding :10px;
	    /*float:right;
	    margin-right:-200px;
}

.facebooklogo {
	    width:150px;
	    height:150px;
}*/





