h1{font-family: Dawning of a New Day;
	font-size: 50px;
	color:#000000;
	background-color: #E0D2C5;
	text-align:center;

}

a:link {
	text-decoration:none;
	color:none;

}


#navbar {
	left:50%;
	margin-left:-300px;
	position:fixed;
	margin-top:-40px;

}

#header {
	position: relative;
	top: -30px;
	background-color:#f5c8bf;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

ul{
	list-style-type: none;
	position: fixed;
	margin: -10px;
}

li {
	border: 2px solid #000000;
	font-family: taviraj;
	color:#000000 ;
	border-radius: -100px -100px;
	background-color: #f5c8bf;
	display:inline;
	padding:10px;
}
